.editor{
    width:100%;
    height:100%;
    &-left,&-right{
        position:absolute;
        width:270px;
        background:#fff;
        bottom:0;
        top:0;
        box-shadow: 0 0 5px #ccc;
    }
    &-left{
        left:0;
        overflow-y: scroll;
        &-item{
            height: 94px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            width:250px;
            margin:20px auto;
            align-items: center;
            background-color: #ccc;
            border:1px solid skyblue;
            padding:30px;
            box-sizing: border-box;
            cursor: move;
            user-select: none;
            position: relative;
            > .label{
                position: absolute;
                left:0;
                top:0;
                background:skyblue;
                padding:5px 10px;
                box-sizing: border-box;
                color:#fff;
                font-size: 12px;
            }
        }
    }
    &-right{
        right:0;
    }
    &-top{
        position: absolute;
        left:280px;
        right:280px;
        height:80px;
        background:#eee;
    }
    &-container{
        padding: 80px 270px 0;
        height:100%;
        box-sizing: border-box;
        &-canvas{
            height:100%;
            overflow: scroll;
            &_content{
                margin:20px auto;
                background-color: #fff;
                position: relative;
                box-shadow: 0 0 2px #ccc;
                .editor-block{
                    position: absolute;
                }
                .editor-block-focus{
                    border:1px solid red;
                }
            }
        }
    }
}
